@import "./fonts.css";
@import "./reset.css";
@import "./global.css";
@import "./responsive.css";


/*=================================| start topbar */

.header {
    margin-top: 28px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 60px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 30px;
}

.menu__link {
    font-family: TTNorms, serif;
    font-size: 15px;
    color: #081D43;
}

.contactUs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 38px;
    font-size: 14px;
    background-color: #0050C8;
    border-radius: 7px;
    color: #FFFFFF;
}

/*====================================| end topbar */

.header-main {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.header-main__left {
    flex-basis: 50%;
}

.header__title {
    font-size: 36px;
    font-family: TTNorms, serif;
    color: #081D43;
    width: 26rem;
}

.header__caption {
    color: #6C7890;
    font-size: 16px;
    font-family: TTNorms, serif;
    width: 26rem;
}

.header-main__links {
    display: flex;
}

.header-main__link {
    display: block;
    text-align: center;
    width: 9rem;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    background-color: #0050C8;
    border-radius: 7px;
    color: #FFFFFF;
    margin-right: 1rem;
}

.header-main__link--color {
    background-color: #87BC25;
}

.header-main__right {
    flex-basis: 50%;
}

.header-main__img {
    width: 100%;
}

/*=================================|end header main*/

.work {

}

.work-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-top__text {
    margin-top: 6rem;
    color: #6C7890;
    font-size: 15px;
}

.work-top__caption {
    margin-top: 0;
    color: #081D43;
    font-size: 30px;
}

.work-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.work-content {
    text-align: center;
    width: 16rem;
    font-family: TTNorms, serif;
}

.work-content__title {
    color: #081D43;
    font-size: 18px;
}

.work-content__caption {
    color: #6C7890;
    font-size: 16px;
    line-height: 2rem;
    margin-top: 1rem;
}

.work-bottom {
    max-width: 31rem;
    margin: 6rem auto 0;
}

.work-bottom__img {
    width: 100%;
}

/*=====================================| end work*/

.person-comment {
    background-color: #2F5BEA;
    padding: 3rem 0 4rem 0;
    margin-top: 4rem;
}

.person-comment__top {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments__title {
    font-family: "TTNorms Medium", serif;
    font-size: 30px;
    margin: 1rem 0;
}

.comments__text {
    font-size: 14px;
    font-family: "TTNorms Light", serif;
    width: 25rem;
    text-align: center;
    margin: 0;
    line-height: 2rem;
}

.comment-container {
    max-width: 858px;
    margin: 0 auto;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 256px;
    height: 225px;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 15px;
}

.comment__message {
    font-size: 13px;
    font-family: "Times New Roman", serif;
    font-style: italic;
    line-height: 22px;
    color: #7E8085;
    padding: 15px;
    margin: 0;
}

.comment__info {
    display: flex;
    align-items: center;
    border-top: 1px solid #E8EBEF;
    padding: 3px 15px;
}

.comment__info--img {
    margin-right: 10px;
}

.comment__info--text {
    font-size: 12px;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

/*==========================| end person comment*/