@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .menu {
        left: -276px;
        transition: unset;
    }

    .portfolio__items {
        width: 28rem;
    }

}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header-right {
        display: none;
    }

    .menu {
        background-color: blue;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -276px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 16rem;
        padding: 3rem 2rem;
        transition: 0.3s all ease-in-out;
    }

    .menu__item {
        padding-bottom: 1rem;
    }

    .menu__link {
        color: #FFFFFF;
        font-size: 1rem;
    }

    .header-icon {
        display: block;
    }

    .header-main {
        flex-direction: column-reverse;
    }

    .header-main__right {
        margin-bottom: 3rem;
    }

    .header-main__left {
        max-width: 100%;
    }

    .header-main__links {
        flex-wrap: wrap;
        align-items: center;
    }

    .header-main__link {
        margin-bottom: 10px;
    }

    .header__title,
    .header__caption {
        width: 100%;
    }

    .portfolio__items {
        width: 21rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .work-content {
        margin-bottom: 3rem;
    }

    .work-bottom {
        margin: 0;
    }

    .comment {
        flex-basis: 16rem;
        margin: 9px;
    }

    .brands {
        justify-content: center;
        align-content: space-between;
        height: 66px;
    }

    .brand__img {
        margin: 12px;
    }

    .portfolio__items {
        width: 15rem;
    }
    .portfolio-top__caption {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .portfolio__items {
        width: 100%;
    }
}